.kısım2{
    width: 100%;
    height: 60%;
    padding: 0;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 150px;
    
    justify-content: center;
}
#h{
  font-weight: bolder;

}
.kapsam1 {
    width: 100%;
    height: 60%;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 15%;
    display: block;
}

  .lines {
    text-align: center;
    display:  inline-block;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  
  .line {
    text-align: center;
    padding-top: 28px;
    padding-bottom: 25px;
  }
  

.conection-header::before {
    content : '' ;
   position : absolute ;
   top:0 ;
    left: 0 ;
   width : 100%;
   height : 100% ;
   background: linear-gradient(rgba(0, 0, 0, 0.5), 
   rgba(0, 0, 0, 0.5));
   z-index: -1;
}
@media (min-width: 1500px) and (max-width: 5200px){
  #bsl {
    font-size: 50px;
    font-weight: bolder;
}
.lines {
  font-size: 20px;
}
  .kapsam1{
    margin-top: 8%;
  }
}
@media (min-width: 1200px) and (max-width: 1500px){
  #bsl {
    font-size: 50px;
    font-weight: bolder;
}
.lines {
  font-size: 20px;
}
  .kapsam1{
    margin-top: 11%;
  }
}
@media (min-width: 800px) and (max-width: 1200px){
  #bsl {
    font-size: 50px;
    font-weight: bolder;
}
.lines {
  font-size: 17px;
}
  .kapsam1{
    margin-top: 12%;
  }
}
@media (min-width: 400px) and (max-width: 800px){
  #bsl {
    font-size: 40px;
    font-weight: bolder;
}
.lines {
  font-size: 17px;
}
  .kapsam1{
    margin-top: 20%;
  }

}
@media (min-width: 300px) and (max-width: 400px){
  #bsl {
    font-size: 40px;
    font-weight: bolder;
}
.lines {
  font-size: 15px;
}
  .kapsam1{
    margin-top: 20%;
  }
}
@media (min-width: 200px) and (max-width: 300px){
  #bsl {
    font-size: 25px;
    font-weight: bolder;
}
.lines {
  font-size: 13px;
}
  .kapsam1{
    margin-top: 28%;
  }
}
