@media (min-width: 1500px) and (max-width: 3200px){
    /* SECTİON*/
    .mains{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 33vh;
        width: 100%;
        height: 100%;    
        vertical-align: middle;

    }
    #h{
        font-weight: bolder;

    }
    #navbar a{
        font-size: 20px;
    }
    p {
        font-size: 24px;
    }
    h1 {
        font-size: 3em;
    }
    .colon-1 {
        margin-top: 0%;
        margin-left: 8%;
        text-align: left;
        width: 43%;
        display: inline-block;
        justify-content: center;
    }
    .colon-1 p{
        padding-right: 0px;
    }



    /*gölge*/
    .mains::before {
        content : '' ;
    position : absolute ;
    top:0 ;
        left: 0 ;
    width : 100%;
    height : 100% ;
    background: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5));
    z-index: -1;
    }



}
@media (min-width: 1270px) and (max-width: 1500px){
    /* SECTİON*/
    .mains{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 28vh;
        width: 100%;    

    }
    .colon-1 {
        margin-top: 0%;
        margin-left: 5%;
        text-align: left;
        width: 43%;
        display: inline-block;
        justify-content: center;
    }
    .colon-1 p{
        padding-right: 0px;
    }
    h1 {
        font-size: 4em;
    }
    p {
        font-size: 21px;
    }
    #h{
        font-weight: bolder;

    }


    .colon-2 {
        text-align: center;
        display: inline-block;
        justify-content: center;
        margin-right: 10%;
        margin-top: 5%;
        
    }
    .colon-2 img{
        height: 490px;
        width: 100%;
        
        padding-bottom: 0px;
        right: 150px;
        border-radius: 50px;
    }

    /*gölge*/
    .mains::before {
        content : '' ;
    position : absolute ;
    top:0 ;
        left: 0 ;
    width : 100%;
    height : 100% ;
    background: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5));
    z-index: -1;
    }



}
@media (min-width: 800px) and (max-width: 1270px){
    /* SECTİON*/
    .mains{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 30vh;
        width: 100%;
        height: 100%;    
        vertical-align: middle;

    }
    #h{
        font-weight: bolder;

    }
    .colon-1 {
        margin-top: 0%;
        margin-left: 5%;
        text-align: left;
        width: 70%;
        display: inline-block;
        justify-content: center;
    }
    .colon-1 p{
        padding-right: 0px;
    }
    h1 {
        font-size: 3.5em;
    }
    p {
        font-size: 18px;
    }

    .colon-2 {
        text-align: center;
        display: inline-block;
        justify-content: center;
        margin-right: 10%;
        margin-top: 5%;
        
    }
    .colon-2 img{
        height: 490px;
        width: 100%;
        
        padding-bottom: 0px;
        right: 150px;
        border-radius: 50px;
    }
    #navbar a{
        font-size: 21px;
    }
    p {
        font-size: 20px;
    }

    /*gölge*/
    .mains::before {
        content : '' ;
    position : absolute ;
    top:0 ;
        left: 0 ;
    width : 100%;
    height : 100% ;
    background: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5));
    z-index: -1;
    }



}
@media (min-width: 400px) and (max-width: 800px){
    /* SECTİON*/
    .mains{
        align-items: center;
        display: flex;
        margin-top: 30vh;
        width: 100%;    

    }
    #h{
        font-weight: bolder;

    }
    #logo {
        display: none;
    }
    .colon-1 {
        margin-top: 0%;
        margin-left: 7%;
        text-align: left;
        width: 80%;
        display: inline-block;
        justify-content: center;
    }
    .colon-1 p{
        padding-right: 0px;
    }
    h1 {
        font-size: 2.3em;
    }
    p {
        font-size: 18px;
    }
    #navbar a {
        
        padding: .5rem .9rem;
        font-size: 14px;
        
    }
    #navbar {
        justify-content: center;

    }
    .bottom1 {
        display: none;

    }

    .colon-2 {
        text-align: center;
        display: inline-block;
        justify-content: center;
        margin-right: 10%;
        margin-top: 5%;
        
    }
    .colon-2 img{
        height: 490px;
        width: 100%;
        
        padding-bottom: 0px;
        right: 150px;
        border-radius: 50px;
    }

    /*gölge*/
    .mains::before {
        content : '' ;
    position : absolute ;
    top:0 ;
        left: 0 ;
    width : 100%;
    height : 100% ;
    background: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5));
    z-index: -1;
    }



}
@media (min-width: 300px) and (max-width: 400px){
    /* SECTİON*/
    .mains{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 30vh;
        width: 100%;    

    }
    #h{
        font-weight: bolder;

    }
    #logo {
        display: none;
    }
    .colon-1 {
        margin-top: 0%;
        margin-left: 10%;
        text-align: left;
        width: 80%;
        display: inline-block;
        justify-content: center;
    }
    .colon-1 p{
        padding-right: 0px;
    }
    h1 {
        font-size: 2.8em;
    }
    p {
        font-size: 15px;
    }
    #navbar a {
        padding: .5rem 0.9rem;
        font-size: 12px;
    }
    #navbar {
        justify-content: center;
        padding: 0rem 1rem;

    }
    .bottom1 {
        display: none;

    }

    .colon-2 {
        text-align: center;
        display: inline-block;
        justify-content: center;
        margin-right: 10%;
        margin-top: 5%;
        
    }
    .colon-2 img{
        height: 490px;
        width: 100%;
        
        padding-bottom: 0px;
        right: 150px;
        border-radius: 50px;
    }

    /*gölge*/
    .mains::before {
        content : '' ;
    position : absolute ;
    top:0 ;
        left: 0 ;
    width : 100%;
    height : 100% ;
    background: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5));
    z-index: -1;
    }



}
@media (min-width: 200px) and (max-width: 300px){
    /* SECTİON*/
    .mains{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 30vh;
        width: 100%;    

    }
    #h{
        font-weight: bolder;

    }
    #logo {
        display: none;
    }
    .colon-1 {
        margin-top: 0%;
        margin-left: 10%;
        text-align: left;
        width: 80%;
        display: inline-block;
        justify-content: center;
    }
    .colon-1 p{
        padding-right: 0px;
    }
    h1 {
        font-size: 2.1em;
    }
    p {
        font-size: 15px;
    }
    #navbar a {
        padding: .5rem 0.2rem;
        font-size: 11px;
    }
    #navbar {
        justify-content: center;
        padding: 0rem 1rem;

    }
    .bottom1 {
        display: none;

    }

    .colon-2 {
        text-align: center;
        display: inline-block;
        justify-content: center;
        margin-right: 10%;
        margin-top: 5%;
        
    }
    .colon-2 img{
        height: 490px;
        width: 100%;
        
        padding-bottom: 0px;
        right: 150px;
        border-radius: 50px;
    }

    /*gölge*/
    .mains::before {
        content : '' ;
    position : absolute ;
    top:0 ;
        left: 0 ;
    width : 100%;
    height : 100% ;
    background: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5));
    z-index: -1;
    }




}
