@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Baloo+Bhaijaan+2:wght@400;700&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}


html {
    /*font-size: 13px;
    /*background: url('vecteezy_abstract-network-line-background_3052037.mp4') no-repeat center center fixed; 
    background-color: #111  ;*/
    background-color: #111;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    
    
}

a {
    text-decoration: none;
    color: #fff;
    padding: 1rem 2rem;
    margin: 0 .5px;
}
ul {
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Alkalami', serif;
    font-family: 'Baloo Bhaijaan 2', cursive;
    line-height: 1.6;
    
}
p {
    font-family: 'Alkalami', serif;
    font-family: 'Baloo Bhaijaan 2', cursive;
    /*font-size: 21px;*/
    color: #fff;
    margin-left: 0px;

}

h1 {    
    color: #fff;
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.4em;
    margin: 0px;
}

h2{
    font-size: 22px;
}
#logo{
    font-size: 30px;
}



                        

/*NAVBAR*/

#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0rem 3rem;
    border-bottom: 1.5px solid rgb(56, 54, 54, 0.6);
}
#navbar a{
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    margin: 0 .5px;
    font-size: larger;

}

#navbar ul{
    display: flex;
    
}
#navbar span{
    font-family: 'Noto Serif Display', serif;
    font-size: 40px;
}
/*CUBE*/
.cube{
    top : 50% ;
    left : 50% ;
    transform : translate( -50% , -50% ) rotate(0deg) ;
    animation: 6s infinite ease-out;
    animation-name: anim;
   }
.top{
    margin-top: 50px;
    margin-left: 30px;
}
.outercube {
    z-index: 2;
    width : 50px ;
    height : 50px ;
    background-color : #9B87FE ;
}
.innercube {
    position:absolute ;
    z-index: 3;
    width : 25px ;
    height : 25px ;
    background-color : #C2BEDB ;
}
.innercube2 {
    position:absolute ;
    z-index: 4;
     width : 13px ;
     height : 13px ;
     background-color : #FFB870 ;
}
@keyframes anim {
      0% {
         transform : translate( -50% , -50% ) rotate(0deg) ;
     }
     100% {
         transform: translate(-50%, -50% ) rotate(360deg) ;
     }
}
.bottom1{
    position: fixed;
    bottom: 3%;
    left: 6%;
}
.bottom2{
    position: fixed;
    bottom: 3%;
    right: 1%;
}

/* HOVER*/

#navbar a {
    line-height: 1;
    display: inline-block;
}

#navbar a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #8755b6;
    transition: width .3s ease-in-out;
}

#navbar a:hover:after,
#navbar a:focus:after {
    width: 100%;
}

/*SELECTİON*/
h1::selection {
    background: #69618d;

}
p::selection {
    background: #c1aac6;
}
a::selection {
    background: #a162e8;
}
h1::selection{
    user-select: none;
}

/*responsive*/
@media (min-width: 1500px) and (max-width: 3200px){
    #navbar a{
        font-size: 21px;
    }
    #navbar {
        padding-left: 4vw;
    }
}
@media (min-width: 1270px) and (max-width: 1500px){
    #navbar a{
        font-size: 20px;
    }
    #navbar {
        padding-left: 4vw;
    }
}
@media (min-width: 800px) and (max-width: 1270px){
    #navbar a{
        font-size: 19px;
    }
    #navbar {
        padding-left: 4vw;
    }}
@media (min-width: 400px) and (max-width: 800px){
    #navbar a {
        
        padding: .5rem .8rem;
        font-size: 16px;
        
    }
    #navbar {
        justify-content: center;

    }
    
    lottie-player {
        display: none;
    }}
@media (min-width: 300px) and (max-width: 400px){
    #navbar a {
        padding: .5rem 0.5rem;
        font-size: 14.7px;
    }
    #navbar {
        justify-content: center;
        padding: 0rem 1rem;

    }
    lottie-player {
        display: none;
    }}
@media (min-width: 200px) and (max-width: 300px){
    #navbar a {
        padding: .5rem 0.1rem;
        font-size: 13px;
    }
    #navbar {
        justify-content: center;
        padding: 0rem 1rem;

    }
    lottie-player {
        display: none;
    }}

